name: "Build"

on:
  push:
    branches:
      - main
    paths:
      - 'gradle.properties'
      - 'gradle/**'
      - 'plugin/**'
      - '**.gradle.kts'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          path: "src"

      - name: Checkout builds
        uses: actions/checkout@master
        with:
          ref: "builds"
          path: "builds"

      - name: Setup JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          ./gradlew make generateUpdaterJson
          cp plugin/**/build/*.zip $GITHUB_WORKSPACE/builds
          cp build/updater.json $GITHUB_WORKSPACE/builds

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add *
          git commit -m "Build $GITHUB_SHA" || exit 0   # do not error if nothing to commit
          git push
