name: "Validate Gradle Wrapper"
on:
  push:
    paths:
      - gradle/gradle-wrapper.jar
  pull_request:
    paths:
      - gradle/gradle-wrapper.jar

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v5
